<div id="center">
    Willkommen bei KryptoChat, deinem sicheren Chat Tool im Internet.
  <br>
  Log dich ein um zu starten, oder melde dich <%= link_to "hier", "register" %> an, um unseren Service kostenlos zu nutzen.
  <%= form_tag("/pubkey", method: "get") do %>
      <%= label_tag(:login, "Beziehe pubkey für:") %>
      <%= text_field_tag(:login) %>
      <%= submit_tag("Suchen") %>
  <% end %>

  <div>Ihr pubkey: <%= @key %> </div>


</div>

